{% extends 'main.html' %}
{% load bootstrap4 %}
{% block title %} Покемон {% endblock %}
{% block page %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <br/>
        <div class="row justify-content-center">
            <div class="col-3">
                <div class="row justify-content-center">Описание</div>
                {% bootstrap_form form %}
            </div>
            <div class="col-3">
                <div class="row justify-content-center">Характеристики</div>
                {% bootstrap_form form2 %}
                <button type="submit" class="btn btn-outline-success"><img src="https://dataforceff.com/images/yes.png"
                                                                           width="70" height="70"></button>
                <a href="{% url 'details' pokemon.id %}" class="btn btn-outline-danger"><img
                        src="https://francy-annu.com/img/icons/abort.png" width="70" height="70"></a>
            </div>
            <div class="col-3">
                <div class="row justify-content-center">Спрайты</div>
                {% bootstrap_form form3 %}
            </div>
        </div>
    </div>
</form>
{% endblock %}