{% extends 'main.html' %}
{% load bootstrap4 %}
{% block title %} Покемон {% endblock %}

{% block page %}
<div class="container">
    <br/>
 <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

     <div class="row justify-content-center">

        <div class="col-4">
      {% bootstrap_form form %}

    </div>
    <div class="col-4">
      {% bootstrap_form form2 %}
      {% bootstrap_form form3 %}

    </div>
        <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-outline-success">Обновить</button>
                <a href="{% url 'details' pokemon.id %}" class="btn btn-outline-danger">Отмена</a>
            </div>
  </div>
        </form>
</div>
<br/>
{% endblock %}
