{% extends "base.html" %}
{% block navigatebar %}

{% url 'desktop' as desktop_url %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="navbar-brand">
        <img src="https://anvilgod.com/wiki/images/thumb/4/4e/Shop-ball1_%28Transformice%29.png/100px-Shop-ball1_%28Transformice%29.png"
             width="40" height="40" alt="logo"> Pokemons
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-label="Toggle Navigation" aria-controls="navbarSupportedContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="{% url 'desktop' %}" class="nav-link {% if request.path == desktop_url %} active {% endif %} ">Рабочий
                    стол</a>
            </li>
        </ul>

        <form action="#" class="form-inline my-2 my-lg-0" method="get">
            <input id="search" name="q" type="text" class="form-control mr-sm-2" placeholder="Search"
                   aria-label="Search">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0  mr-sm-2">Поиск</button>
        </form>

    </div>
</nav>

{% endblock %}